In [ ]:
'''Question1. Create a function that takes three arguments a, b, c and returns the sum of the numbers that are evenly divided by c from the range a, b inclusive.
Examples
evenly_divisible(1, 10, 20) ➞ 0
# No number between 1 and 10 can be evenly divided by 20.

evenly_divisible(1, 10, 2) ➞ 30
# 2 + 4 + 6 + 8 + 10 = 30

evenly_divisible(1, 10, 3) ➞ 18
# 3 + 6 + 9 = 18
'''

def agrument(a,b,c):
  total=0
  for num in range(a,b+1):
    if num%c==0:
      total+=num
    
  print(total)
agrument(1,10,2)

30

In [ ]:
'''Question2. Create a function that returns True if a given inequality expression is correct and False otherwise.
Examples
correct_signs("3 < 7 < 11") ➞ True

correct_signs("13 > 44 > 33 > 1") ➞ False

correct_signs("1 < 2 < 6 < 9 > 3") ➞ True'''

def inequality_correct(expression):
  return eval(expression)

inequality_correct("8 < 7 < 11")

False

In [ ]:
'''Question3. Create a function that replaces all the vowels in a string with a specified character.
Examples
replace_vowels("the aardvark", "#") ➞ "th# ##rdv#rk"

replace_vowels("minnie mouse", "?") ➞ "m?nn?? m??s?"

replace_vowels("shakespeare", "*") ➞ "sh*k*sp**r*"
'''

def replace_vowel(string, character):
  vowel="a,e,i,o,u,A,E,I,O,U"
  replace_string=""
  for char in string:
    if char in vowel:
      replace_string+=character
    else:
      replace_string+=char
  return replace_string
print(replace_vowel("the aardvark", "#"))

th# ##rdv#rk

In [ ]:
'''Question4. Write a function that calculates the factorial of a number recursively.
Examples
factorial(5) ➞ 120

factorial(3) ➞ 6

factorial(1) ➞ 1

factorial(0) ➞ 1
'''

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

#print (f"The factorial {n} is: ")
print(fact(5))

120