In [2]:
a='Hello World!'
a.replace('!','@')

'Hello World@'

In [8]:
text='I am mango man'
x= 'am'not in text
print(x)

False

In [27]:
a='hello world'
b='take care'
c=a +" "+ b
#print(a+" "+b)
print(c)

hello world take care

In [37]:
'''age=45
intro= 'I am Sonu kumar, and my age is {}'
'''

#print(result)
#We are getting error because we can concatenate the same datatypes objects
#To overcome with these issues we use 'Format'

age=45
intro='I am Sonu kumar, and my age is {}'
#result= intro+age
print(intro.format(age))

I am Sonu kumar, and my age is 45

In [41]:
amt=45
quant=450
profit=0.45
bus='I want {} on {} at {} profit'
print(bus.format(amt,quant,profit))

I want 45 on 450 at 0.45 profit

In [44]:
amt=45
quant=450
profit=0.45
bus='I want {0},and {1}, and {2}'
print(bus)

I want {0},and {1}, and {2}

In [54]:
name="my name is \"SONU\"."
print(name)

my name is "SONU".

In [72]:
#some important method
#1.capitalize() >>>Converts the first character to upper case
name='raghav'
name.capitalize()

#2.casefold() >>> convert string into lower case
name='raghav'
name.casefold()
name1='RAGHAV' #>> here it will convert upper to lower case
name1.casefold()
print(name1)

RAGHAV