In [1]:
'''assignment_01_week_01
Question-01
1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
* 
'hello'
-87.8
- 
/ 


6 
'''

"assignment_01_week_01\nQuestion-01\n1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.\n* \n'hello'\n-87.8\n- \n/ \n\n\n6 \n"

In [3]:
a='hello'
type(a)

str

In [5]:
b=-87.8
type(b) # It is an an expression or values

float

In [10]:
#it(-) is not any expression
s=6
type(s)

int

In [11]:
'''
Question-02 What is the difference between string and variable?
String= In python, string is a datatype which contains only alphabet or words.
Variable= In python, variable is like a container which contains for keep the values of any element.
For example: x=5 (it means x is a variable and it contained the value 5)'''

'\nQuestion-02 What is the difference between string and variable?\nString= In python, string is a datatype which contains only alphabet or words.\nVariable= In python, variable is like a container which contains for keep the values of any element.\nFor example: x=5 (it means x is a variable and it contained the value 5)'

In [12]:
'''
3. Describe three different data types.
Answer: In python, there are mainly 4 data types. But, here we will describe only 3 datatypes.
1. String (String data type contains the alphabet or groups of alphabet.)
2. int- int stands for integer. It contained the value like 1,2 ,,...N.
3. float- In python, float contains the decimals numbers. for example: 1.2, 3.4...
'''

'\n3. Describe three different data types.\nAnswer: In python, there are mainly 4 data types. But, here we will describe only 3 datatypes.\n1. String (String data type contains the alphabet or groups of alphabet.)\n2. int- int stands for integer. It contained the value like 1,2 ,,...N.\n3. float- In python, float contains the decimals numbers. for example: 1.2, 3.4...\n'

In [13]:
'''
4. What is an expression made up of? What do all expressions do?
Answer: An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated.
All expression evaluate the values of any variables.
'''

'\n4. What is an expression made up of? What do all expressions do?\nAnswer: An expression is a combination of values, variables, operators, and calls to functions. Expressions need to be evaluated.\nAll expression evaluate the values of any variables.\n'

In [14]:
'''
5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
Answer: The main difference between expression and a statement is:
Expression containes the varibale, operators and calls to fn. It actually evaluate the valye of variables.
But
Statement: Statement is the part of our coding which we do  not want to run or execute. We keep them for our better understanding.

'''

'\n5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?\nAnswer: The main difference between expression and a statement is:\nExpression containes the varibale, operators and calls to fn. It actually evaluate the valye of variables.\nBut\nStatement: Statement is the part of our coding which we do  not want to run or execute. We keep them for our better understanding.\n\n'

In [15]:
'''
6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1
'''
bacon = 22
bacon + 1 # the result for bacon is 23. It means it is increasing by +1.

23

In [17]:
'''
7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3
'''
'spam' + 'spamspam'
'spam' * 3'

SyntaxError: unterminated string literal (detected at line 7) (560786000.py, line 7)

In [18]:
'''8. Why is eggs a valid variable name while 100 is invalid?
Answer: Eggs is a valid variable because it statrs from alphabet but 100 is not valid variable because it starts from number
Any variable must be starts from alphabets'''

'8. Why is eggs a valid variable name while 100 is invalid?\nAnswer: Eggs is a valid variable because it statrs from alphabet but 100 is not valid variable because it starts from number\nAny variable must be starts from alphabets'

In [19]:
'''9. What three functions can be used to get the integer, floating-point number, or string version of a value?
In Python, you can use the following functions to get the integer, floating-point number, or string version of a value:

•  int() function returns the integer version of a value.

•  float() function returns the floating-point number version of a value.

•  str() function returns the string version of a value.'''

'9. What three functions can be used to get the integer, floating-point number, or string version of a value?\nIn Python, you can use the following functions to get the integer, floating-point number, or string version of a value:\n\n•  int() function returns the integer version of a value.\n\n•  float() function returns the floating-point number version of a value.\n\n•  str() function returns the string version of a value.'

In [20]:
'''
Question-10 
10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'
'''
a='I have eaten ' + 99 + ' burritos.'
Print(a)

TypeError: can only concatenate str (not "int") to str